$font-primary: 'Noto Sans JP', sans-serif;
$font-second: 'Noto Sans JP', sans-serif;
$font-tertiary: 'Noto Sans JP', sans-serif;
$font-quaternary: 'Noto Sans JP', sans-serif;
$font-cinzel: 'Cinzel', serif;

$transition-base: all .3s ease-in !default;
$color-primary: #3c0058;
$color-secondary: #c4a371;
$color-bronze: #d6955c;
$color-gray: #495057;
$color-navy: #072F46;
$color-blue-light: #B5DFF5;
$color-magenta: #E6C2D0;
$color-pink: #D94696;
$color-blue: #000427;
$color-gray-light: #e8e8e8;
$color-green: #0dc755;
$color-purple: #692f6d;