.page-template-company-template {
    .hero-section {
        background: #fff;
        padding-bottom: 60px;

        @media (max-width: 767.98px) {
            padding-bottom: 45px;
            padding-top: 10px;
        }

        >.container {
            max-width: 840px;
        }

        p.h2 {
            margin-top: -15px;
            color: #56007b;

            @media (max-width: 767.98px) {
                margin-top: -5px;
            }
        }


        .company-content {
            margin-top: 60px;
            background: #eeeeee;

            @media (max-width: 767.98px) {
                margin-top: 40px;
            }

            .company-content-item {
                font-size: 16px;
                line-height: 32.29px;
                font-weight: 600;
                letter-spacing: 0.06em;
                color: #333333;

                @media (max-width: 1023.98px) {
                    font-size: 14px;
                    line-height: 28px;
                }

                @media (max-width: 767.98px) {
                    font-size: 12px;
                    line-height: 24px;
                    letter-spacing: 0.03em;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid #bcbdc7;
                }

                &__left {
                    width: 25%;
                    flex-shrink: 0;
                    color: #fff;
                    background: $color-primary;
                    padding: 0 10px;
                    height: 100%;

                    @media (max-width: 767.98px) {
                        width: 35%;
                        max-width: 108px;
                    }

                }

                &__right {
                    padding: 17px 20px;

                    @media (max-width: 767.98px) {
                        width: 70%;
                    }

                    span {
                        width: 100%;
                        line-height: 1.55;
                        display: inline-block;
                        text-align: left;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .access-section {
        padding-bottom: 70px;
        padding-top: 20px;

        @media (max-width: 767.98px) {
            padding: 0 0 50px 0;
        }

        >.container {
            max-width: 840px;
        }

        .ncm-heading-highlight {
            color: #642a6c;
        }

        p.h2 {
            margin-top: -15px;
            color: #fff;

            @media (max-width: 767.98px) {
                margin-top: -5px;
            }
        }

        .access-section-content {
            margin-top: 40px;
            background: #fff;
            padding: 80px 20px 20px 20px;
            min-height: 380px;

            @media (max-width: 1023.98px) {
                padding-top: 60px;
            }

            @media (max-width: 767.98px) {
                min-height: 193px;
                padding: 40px 10px 20px 10px;
            }

            p {
                font-size: 18px;
                line-height: 31px;
                letter-spacing: 0.06em;
                color: #333333;

                @media (max-width: 767.98px) {
                    font-size: 15px;
                    line-height: 27px;
                }
            }
        }
    }

    .rinen-section {
        padding-bottom: 70px;

        @media (max-width: 767.98px) {
            padding-bottom: 40px;
        }

        >.container {
            max-width: 1100px;
        }

        .ncm-heading-highlight {
            color: #ffffff;
        }

        p.h2 {
            margin-top: -15px;
            color: $color-primary;

            @media (max-width: 767.98px) {
                margin-top: -5px;
            }
        }

        &__list {
            .rinen-item {
                gap: 20px;

                @media (max-width: 767.98px) {
                    flex-wrap: wrap;
                }

                &:nth-child(odd) {
                    @media (min-width: 768px) {
                        flex-direction: row-reverse;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 10px;

                    @media (max-width: 767.98px) {
                        margin-bottom: 16px;
                    }
                }

                >div {
                    width: 100%;

                    @media (min-width: 1024px) {
                        width: 50%;
                    }
                }

                &__image {
                    text-align: center;

                    @media (min-width: 768px) and (max-width: 1023.98px) {
                        width: 40%;
                    }
                }

                &__content {
                    text-align: left;
                    color: $color-blue;
                    letter-spacing: 0.02em;
                    font-weight: 300;

                    @media (max-width: 767.98px) {
                        text-align: center;
                        letter-spacing: 0.01em;
                    }
                }

                &__title {
                    font-family: "Noto Serif JP", serif;
                    color: $color-blue;
                    letter-spacing: 0.02em;
                    font-weight: 300;

                    @media (max-width: 767.98px) {
                        font-size: 20px;
                        line-height: 15px;
                        letter-spacing: 0.01em;
                    }
                }

                &__sub-title {
                    font-size: 20px;
                    line-height: 30.6px;
                    margin-top: 20px;

                    @media (max-width: 767.98px) {
                        font-size: 18px;
                        line-height: 15px;
                    }
                }

                &__text {
                    font-size: 16px;
                    line-height: 30.6px;
                    margin-top: 24px;

                    @media (max-width: 767.98px) {
                        font-size: 14px;
                        line-height: 23px;
                    }

                    p {
                        margin: 0;

                        &:not(:last-child) {
                            @media (max-width: 767.98px) {
                                margin-bottom: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    .message-section {
        background: #f9f9f9;
        padding-bottom: 80px;
        padding-top: 32px;

        @media (max-width: 767.98px) {
            padding-top: 20px;
            padding-bottom: 40px;
        }

        >.container {
            max-width: 700px;
        }

        .ncm-heading-highlight {
            color: #efefef;
        }

        p.h2 {
            margin-top: -15px;
            color: $color-primary;

            @media (max-width: 767.98px) {
                margin-top: -5px;
            }
        }

        &-content {
            margin-top: 40px;
            text-align: center;
            font-size: 16px;
            line-height: 25.6px;
            letter-spacing: 0.06em;
            color: $color-blue;

            @media (max-width: 767.98px) {
                font-size: 14px;
                line-height: 23px;
                letter-spacing: 0.03em;
                text-align: left;
                margin-top: 20px;
            }

            p {
                margin: 0;
            }

            .item {
                &:not(:last-child) {
                    margin-bottom: 24px;

                    @media (max-width: 767.98px) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}